<h1>Tutorial</h1>
<div>
  <ul class="list-unstyled">
    <li>See the tutorial (in <a href="https://rise.articulate.com/share/lfaBIt-QVqktktzKn-hTVwuFRNq5UnIQ#/" target="_blank" class="underline">Dutch</a> or <a href="https://rise.articulate.com/share/hlafd1NkTve7jc0FqB048I2CCgUXzbLQ" target="_blank" class="underline">English</a>) for a detailed explanation of searching and requesting material through the collection guides.</li>
  </ul>
</div>

<h1>Help</h1>
<div>
  <ul class="list-unstyled">
    <li><a href="#search" class="underline">How do I search for materials?</a></li>
    <li><a href="#advanced" class="underline">What should I know about phrasing my searches?</a></li>
    <li><a href="#filter" class="underline">How can I filter my search results?</a></li>
    <li><a href="#navigate" class="underline">How do I navigate this website?</a></li>
    <li><a href="#request" class="underline">How do I request materials?</a></li>
    <li><a href="#coverage" class="underline">Does this website include all the Special Collections materials of Leiden University Libraries? What if I cannot find what I am looking for?</a></li>
    <li><a href="#glossary" class="underline">Glossary of terms and symbols</a></li>
    <li><a href="#questions" class="underline">What if I have questions? Where should I go for help</a></li>
  </ul>
</div>

<div id="search">
	<h2>How do I search for materials?</h2>
  <ul>
    <li>Begin a basic search by entering your search terms in the search bar. You may limit the search by record type, search field, and year.</li>
	<li>‘Record type’ allows you to customize the type of records you want a search to return:</li>
	<ul>
		<li>‘Search all record types’ will return records for entire archives and collections, as well as for individual people, subjects, series, and files.</li>
		<li>‘Limit to archives and collections’ will only return records for entire archives and collections, and not for individual people, subjects, series, and files.</li>
	</ul>
    <li>The searchable fields are:
      <ul>
        <li>‘Keyword’: Searches the entire text of the collection guide.</li>
        <li>‘Title’: Searches titles of the materials described, including records, series, and files within collections and archives. If you know the precise title of the material you’re looking for, searching by title can be very helpful.</li>
        <li>‘Creator’: Searches names of the persons, families, and organizations who created the collections or archives.</li>
        <li>‘Subject’: Searches by subject headings assigned to materials by archivists, e.g. "Leiden". (Persons, families and organizations who are subject of a collection or archive can be found under the Names tab.)</li>
        <li>‘Identifier’: Searches by identifier, which is a unique number by which materials are tracked and requested.</li>
      </ul>
    </li>
    <li>You may select a year range to limit the search results chronologically. Searching by year is approximate, and results may fall outside the year range you enter.</li>
    <li>You may construct a more complex search by selecting the + icon and adding additional search parameters.</li>
  </ul>
</div>

<div id="advanced">
	<h2>What should I know about phrasing my searches?</h2>
  <ul>
    <li>Searches are not case sensitive.</li>
    <li>You may search for phrases by including quotation marks (e.g. “Bibliotheca Thysiana”)</li>
    <li>By default, searches with three or fewer search terms return results containing all of the search terms. Searches with four or more search terms return results containing most of the search terms. You may add OR and NOT to change this behavior (e.g. Herzsprung OR Kaiser or art NOT Indonesian).</li>
    <li>You may add a tilde (~) to search for search terms within a specified number of words of one another (e.g. “kaarten Azië”~5 will return results where the term "kaarten" occurs within 5 words of the term Azië).</li>
    <li>Wildcard symbols ? and * help return a greater number of relevant results by searching for variant spellings and forms of search terms simultaneously.</li>
      <ul>
        <li>? replaces a single letter in a search term (e.g. searching M?ller will return both Muller and Miller, and searching Jan? will return both Jans and Janz but not Jansen).</li>
        <li>* replaces any number of letters at the end of a search term (e.g. searching biblio* will return bibliotheca, bibliothèque and bibliotheek). </li>
        <li>? and * may not be used as the first character of a word. </li>
        <li>To use a wildcard in combination with another search term (e.g. wom?n suffrage), use the + icon to create another row and enter each search term in a separate row.</li>
      </ul>
    </li>
  </ul>
</div>

<div id="filter">
	<h2>How can I filter my search results?</h2>
  <ul>
    <li>Once your results have been returned, you can use the filter pane on the right side of the page to further limit and customize search results.</li>
    <li>You may use the filter pane to filter by record type, subject, and name.</li>
    <li>You may also use the search bar at the top of the filter pane to create additional searches within the search results.</li>
  </ul>
</div>

<div id="navigate">
	<h2>How do I navigate this website?</h2>
    <p>To begin a search, use the search bar on the home page.</p>
    <p>To see a full alphabetical list of collections, click the collections tab.</p>
    <p>To see a full alphabetical list of subjects, click the subjects tab.</p>
    <p>To see a full alphabetical list of names, click the names tab.</p>
    <p>For help, click the help tab.</p>
    <p>You can return to the home page at any time by selecting the home tab.</p>
</div>

<div id="request">
	<h2>How do I request materials?</h2>
  <p>Collections often consist of individual items that have been described in and can be requested through <a href="https://catalogue.leidenuniv.nl/">the online catalogue</a>. To request materials that are not described in our catalogue, like most archival items, please select the ‘Request’ button at the top of the collection guide page and fill out the form.</p>
  <img src="assets/images/request_L.png" alt="Request icon" style="padding-bottom:1em;"/>
  <p>The materials are only available for examination and must be used within the Special Collections reading room of Leiden University Library. Access to the materials may be (temporarily) restricted, for example when conservation work or digitization is taking place. </p>
<p><strong>For consultation a personal <a href="https://www.library.universiteitleiden.nl/using-the-library/library-card#library-services-for-visitors,annual-fee-library-card-or-free-of-charge">library card</a> (LU-Card) is needed. All library visitors can have a library account and LU-Card made at the library; no academic affiliation is required</strong></p>
</div>

<div id="coverage">
	<h2>Does this website include all the Special Collections materials of Leiden University Libraries? What if I cannot find what I am looking for?</h2>
  <p>This website covers most of the archives and collections held at Leiden University Libraries. However, some archives and collections have not been processed yet, and therefore no collection guide is available. Please contact us if you want to use unprocessed materials or if you are unable to find a collection guide, but have reason to think we may hold the materials you are looking for. </p>
<p>Other Special Collections materials of Leiden University Libraries can be found through:</p> 
  <ul>
    <li>The <a href="https://catalogue.leidenuniv.nl/primo-explore/search?vid=UBL_V1">online catalogue</a> of Leiden University Libraries: This catalogue gives access to books, manuscripts, maps, prints, paintings, (electronic) journals, databases, e.g.</li>
    <li><a href="https://digitalcollections.universiteitleiden.nl/">Digital Collections</a>: This website provides access to the digitized and digital born collections of Leiden University Libraries.</li>
  </ul>
</div>

<div id="glossary">
	<h2>Glossary of terms and symbols</h2>
  <p><strong>Archives</strong> are materials created or received by a person, family, or organization in the conduct of their affairs and preserved because of the enduring value of the information they contain or as evidence of the functions and responsibilities of their creator.</p>
  <p><strong>Collections</strong> are groups of materials assembled by a person, family, organization, or repository.</p>
  <p><strong>Collection guides</strong> (also known as finding aids) allow users to discover, understand, and access the materials. Collection guides describe the creation, arrangement, content, and context of collections and archives. Most collection guides on this website contain descriptions on collection-level (also known as fonds-level). These descriptions give you the most general overview of the collection or archive. You can find this in the <strong>Collection Overview</strong>. Some collection guides on this website will also contain a hierarchical structure with item-level descriptions. Click <strong>Collection Inventory</strong> to scroll through the items.</p>
  <p><strong>Name records</strong> are the people, families, and organizations that create collections or archives, or are the subject of a collection. On this website, users can view name records to see all of the materials created by a person, family, or organization, or all the records that specifically concern a person, family or organization.</p>
  <p><strong>Subject records</strong> are topics, places, and genres used to describe the context and content of the materials. On this website, users can view a subject record to see all of the collections and archives relating to that topic, place, or genre.</p>
<br/>
<!-- Weglaten tot dat de request knop weer werkt. <p>
      <img src="assets/images/request_L.png" alt="Request icon"/>
      <br/>
  Use the <strong>Request</strong> button to place a request for the selected material. For more information about requesting material, see the requesting materials section above.</p>
<br/> -->
  <p>
      <img src="assets/images/citation_L.png" alt="Preferred citation"/>
      <br/>
    Use the <strong>Citation</strong> button to generate a formatted citation for the material you are viewing. Citations can be generated at all levels of a finding aid, including at the folder or item level.</p>
<br/>
  <p>
      <img src="assets/images/pdf_L.png" alt="Download PDF icon"/>
      <br/>
  Use the <strong>PDF</strong> button to access a fully formatted PDF of a collection guide, suitable for printing.</p>
</div>

<div id="questions">
  <h2>What if I have questions? Where should I go for help?</h2>
  <p>If you have questions about a collection guide or if you have a more general question, feel free to <a href="https://www.library.universiteitleiden.nl/about-us/contact">contact us</a>.</p>
</div>
