<%# hgom, Allard Pierson footer %>
<div class="panel-footer container-fluid">
  <div class="row">
    <div class="col-sm-6">
     <a href="https://www.library.universiteitleiden.nl/about-us/contact/" target="_blank">Contact UB Leiden</a>
    </div>
    <div class="col-sm-6">
      <div style="padding-left: 50%; text-align: left">
      <a href="http://catalogue.leidenuniv.nl" target="_blank">Catalogue</a>
	  <br><a href="http://digitalcollections.universiteitleiden.nl" target="_blank">Digital Collections</a>
      </div>
    </div>
  </div>
</div>
<%# hgom, google analytics %>
<script>
if (location.href.match(/archives\.uba\.uva\.nl/)){
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-146274529-1', 'auto');
  ga('send', 'pageview');
  ga('set', 'anonymizeIp', true);
}
</script>
