 <%# any result that is going to be presented in a list %>
 <%# Pry::ColorPrinter.pp(result['json'])%>
 <% if !props.fetch(:full,false) %>
   <div class="recordrow" style="clear:both" data-uri="<%= result.uri %>">
     <% end %>
     <%= render partial: 'shared/idbadge', locals: {:result => result, :props => props } %>
     <div class="recordsummary" style="clear:both">
       <% if !result['parent_institution_name'].blank? %>
       <div><strong><%= t('parent_inst') %>:</strong>
         <%= result['parent_institution_name'] %>
       </div>
       <% end %>

       <% note_struct = result.note('abstract')
	  if note_struct.blank?
	    note_struct = result.note('scopecontent')
          end
	  if !note_struct['note_text'].blank? %>
          <div class="abstract single_note"><span class='inline-label'><%= note_struct['label'] %></span>
           <% if note_struct['note_text'].length > AppConfig[:abstract_note_length] %>
             <% truncated_note = note_struct['note_text'][0..AppConfig[:abstract_note_length]-1] %>
             <% end_index = truncated_note.rindex(' ') || AppConfig[:abstract_note_length]-1 %>
             <%= strip_tags(truncated_note[0..end_index - 1]) + '...' %>
           <% else %>
	     <%= note_struct['note_text'].html_safe %>
           <% end %>
          </div>
         <% end %>
       <% unless props.fetch(:no_repo, false) %>
       <% r_uri = nil
	  r_name = nil
	  if result['json']['repository'] && result['json']['repository']['_resolved'] && (!result['json']['repository']['ref'].blank? || !result['json']['repository']['_resolved']['name'].blank?)
	    r_uri = result['json']['repository']['ref'] || ''
	    r_name = result['json']['repository']['_resolved']['name'] || ''
	  elsif result['_resolved_repository'] && result['_resolved_repository']['json']
	   r_uri =  result['_resolved_repository']['json']['uri'] || ''
            r_name = result['_resolved_repository']['json']['name'] || ''
	  end
       %>
    <% end %>

<%# hgom: display dates in the search results  
 %>
 <%
 if result['json']['dates'].try(:any?)
  @all_dates = Array.new
  len = result['json']['dates'].length
  result['json']['dates'].each do |date|
    if date['date_type'] == 'bulk' && not(date['expression'].to_s.include? 'bulk')
      leader = t('bulk-date-leader') + ' '
    end
      @all_dates << (leader || "") +
        if date.has_key?('expression')
          date['expression']
        elsif date.has_key?('begin') && date.has_key?('end')
          date['begin'] + "-" +date['end']
        elsif date.has_key?('begin')
          date['begin']
        elsif date.has_key?('end')
          "-" + date['end']
        end
   end
   @all_dates = @all_dates.collect(&:strip).join(", ")
 end
%>

    <% if defined?@all_dates %>
    <div class="result_context">
      <strong><%= t('date-label') %>: </strong>
      <%= @all_dates %>
    </div>
    <% end %>

       <% if !props.fetch(:full,false)  && result['primary_type'] == 'repository' %>
       <div><strong><%= t('number_of', { :type => t('resource._plural') }) %></strong> <%= @counts[result.uri]['resource'] %></div>
       <% end %>

     <% if result.primary_type == 'classification' && result.classification_terms? %>
     <div class="classification-subgroups">
       <button class="btn btn-default btn-sm subgroup-toggle" aria-pressed="false">
         <i aria-hidden="true" class="fa fa-plus"></i>
         <%= t('classification._public.actions.show_subgroups') %>
       </button>
       <div class="classification-subgroups-tree largetree-container" style="display: none;"></div>
     </div>
     <% end %>
   </div>

<% if !props.fetch(:full,false) %>
   </div>
<% end %>
