<a id="summary-information"></a>
<div class="resource-page">
	<h3><%= I18n.t('pdf_reports.summary_information') %></h3>

	<dl>
		<dt><%= I18n.t('repository._singular') %></dt>
		<dd><%= record.resolved_repository['name'] %></dd>

		<% if record.agents %>
			<% record.agents.each do |role, relationships| %>
				<% relationships.each do |relationship| %>
					<dt><%= I18n.t("enumerations.linked_agent_role.#{role}", :default => role) %></dt>
					<dd><%= relationship['_resolved']['title'] %></dd>
				<% end %>
			<% end %>
		<% end %>

		<dt><%= I18n.t('resource._public.finding_aid.title') %></dt><dd><%== process_mixed_content(record.display_string) %></dd>

		<dt><%= I18n.t('resource._public.identifier') %></dt><dd><%= record.identifier %></dd>

		<% record.dates.each do |date| %>
			<dt><%= I18n.t('resource._public.finding_aid.date') %></dt><dd><%= date['final_expression'] %></dd>
		<% end %>

		<% record.extents.each do |extent| %>
			<dt><%= I18n.t('resource._public.physdesc') %></dt><dd><%= extent['display'] %></dd>
		<% end %>

		<% unless record.notes.include?('langmaterial') || record.lang_materials.blank? %>
			<dt><%= t('resource._public.lang') %></dt>
			<% record.lang_materials.each do |lang_material| %>
				<dd><%= t('enumerations.language_iso639_2.' + lang_material['language'])%></dd>
			<% end %>
		<% end %>

		<% record.notes.each do |note_type, note| %>
			<% if note_type == 'physdesc' %>
				<a id="note-<%= note_type %>"></a>
				<% note.each do |n| %>
				  <dt><%= I18n.t("enumerations._note_types.#{note_type}") %></dt><dd><%== process_mixed_content(n['note_text']) %></dd>
				<% end %>
			<% end %>
		<% end %>

		<% if record.container_display && !record.container_display.empty? %>
			<dt><%= I18n.t('resource._public.storage') %></dt><dd><%= record.container_display.join(', ') %></dd>
		<% end %>

		<%= render(:partial => 'digital_object_links', :locals => {
			:instances => record.instances
		}) %>
	</dl>
</div>

<% record.notes.each do |note_type, note| %>
    <% next if ['physdesc'].include?(note_type) %>
    <a id="note-<%= note_type %>"></a>
    <% note.each do |n| %>
      <h3>
        <% if n['label'] %>
            <%== process_mixed_content(n['label']) %>
        <% else %>
            <%= I18n.t("enumerations._note_types.#{note_type}") %>
        <% end %>
      </h3>
      <span><%== process_mixed_content(n['note_text']) %></span>
    <% end %>
<% end %>

<h3 id="subjects">Subjects</h3>
<ul>
<% Array(record.subjects).each do |subject| %>
    <li><%= subject['title'] %></li>
<% end %>
</ul>

<div class="collection-inventory">
<% if has_children %>
    <h3 id="collection-inventory"><%= I18n.t('pdf_reports.collection_inventory') %></h3>
<% end %>
